.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.buttonUnloaded {
    background-color: green;
    color: white;
    font: inherit;
    border: 2px dashed blue;
    padding: 8px;
    cursor: pointer;
}

.buttonUnloaded:hover {
    cursor: pointer;
    background-color: darkcyan;
    color: black;
}

.buttonLoaded {
    background-color: lightcoral;
    color: white;
    font: inherit;
    border: 2px dashed blue;
    padding: 8px;
    cursor: pointer;
}

.buttonLoaded:hover {
    cursor: pointer;
    background-color: darkorchid;
    color: black;
}
